<ion-view title="{{biz.username}}">
  <ion-content class="has-header">
    <div class="list card">

  <div class="item item-avatar">
    <img src="{{biz.logo}}">
    <h2>{{biz.name}}</h2>
    <p ng-show="{{open}}"><i class="icon ion-ios7-circle-filled"></i>
       <strong>Open till {{biz.endWD}}</strong> 
    </p>

    <p ng-show="{{!open}}"><i class="icon ion-ios7-circle-filled"></i>
       <strong>Closed till {{biz.startWD}}</strong> 
    </p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{biz.full}}">
    <p>
      {{biz.desc}}
    </p>
    
    <p><i class="icon ion-ios7-calendar-outline"></i>
      <strong>Working Hours</strong>
        <br />
        Mon - Friday: {{biz.startWD}} - {{biz.endWD}}
        <br />
        Saturday: {{biz.startWE}} - {{biz.endWE}}
        <br />
        Saturday: Closed all day
        <br />
        Drive Time: {{dt}}
        <br />
        <br />
    </p>
  </div>

</div>
  </ion-content>
  <div class="tabs tabs-icon-left tabs-assertive">
  <a class="tab-item" href="tel:{{biz.phone}}">
      <i class="icon ion-ios7-telephone"></i>Call      
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-arrow-graph-up-right"></i>Directions
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-share"></i>Share
    </a>
</div>
</ion-view>
