<ion-view title="AHA">
<!--<ion-content >-->
<!--<div class="tabs-striped tabs-top tabs-background-assertive tabs-light">-->
<!--<div class="tabs">-->
<!--<a class="tab-item active" href="#/app/individual">-->
<!--<i class="icon">Individual</i>-->
<!--&lt;!&ndash;<ion-nav-view name="home-tab"></ion-nav-view>&ndash;&gt;-->
<!--&lt;!&ndash;Individual&ndash;&gt;-->
<ion-tabs class="tabs-striped tabs-top tabs-background-assertive tabs-light">
<ion-tab title="Individual">

<!-- Tab 1 content -->
<ion-content>
<div class="list">
<form name="individualForm" novalidate ng-submit="individualSignup()" >
<label class="item item-input item-floating-label">
<span class="input-label">First Name</span>
<input type="text"
placeholder="First Name"
name="firstName"
ng-model="signup.individual.firstName"
required>
</label>
<p style="color:red" ng-show="individualForm.firstName.$dirty && individualForm.firstName.$invalid">
<span ng-show="individualForm.firstName.$error.required">Username is required.</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Last Name</span>
<input type="text"
placeholder="Last Name"
name="lastName"
ng-model="signup.individual.lastName"
required>
</label>
<p style="color:red" ng-show="individualForm.lastName.$dirty && individualForm.lastName.$invalid">
<span ng-show="individualForm.lastName.$error.required">Username is required.</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Username</span>
<input type="text"
placeholder="@Username"
name="username"
ng-model="signup.individual.username">
</label>
<p style="color:red" ng-show="individualForm.username.$dirty && individualForm.username.$invalid">
<span ng-show="individualForm.username.$error.required">Username is required.</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Phone Number</span>
<input type="tel"
placeholder="Phone Number"
name="phoneNumber"
ng-model="signup.individual.phoneNumber"
maxlength="10"
required>
</label>
<p style="color:red" ng-show="individualForm.phoneNumber.$dirty && individualForm.phoneNumber.$invalid">
<span ng-show="individualForm.phoneNumber.$error.required">Username is required.</span>
</p>
<input type="submit"
ng-disabled="individualForm.$invalid" value="Register this location" class="button button-block button-assertive">
</form>
</div>
</ion-content>
</ion-tab>
<ion-tab title="Business">
<!-- Tab 3 content -->
<ion-content>
<form name="businessForm" novalidate ng-submit="businessSignup()">
<div class="list">
<label class="item item-input item-floating-label">
<span class="input-label">Business Name</span>
<input type="text"
placeholder="Business Name"
name="businessName"
ng-model="signup.business.businessName"
required/>
</label>
<!--<div ng-if=" businessForm.businessName.$invalid &&businessForm.$submitted" >-->
<!--<div ng-message="required">Business name is reqired</div>-->
<!--</div>-->
<p style="color:red" ng-show="businessForm.businessName.$dirty && businessForm.businessName.$invalid">
<span ng-show="businessForm.businessName.$error.required">Username is required.</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Business Handle</span>
<input type="text"
placeholder="@BusinessHandle"
name="businessHandle"
ng-model="signup.business.businessHandle"
required/>
</label>
<p style="color:red" ng-show="businessForm.businessHandle.$dirty && businessForm.businessHandle.$invalid">
<span ng-show="businessForm.businessHandle.$error.required">Business handle is required</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Physical Address</span>
<input type="text"
placeholder="Physical Address"
name="businessAddress"
ng-model="signup.business.businessAddress"
required/>
</label>
<p style="color:red" ng-show="businessForm.businessAddress.$dirty && businessForm.businessAddress.$invalid">
<span ng-show="businessForm.businessAddress.$error.required">Address is required</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">City</span>
<input type="text"
placeholder="City"
name="city"
ng-model="signup.business.city"
required/>
</label>
<p style="color:red" ng-show="businessForm.city.$dirty && businessForm.city.$invalid">
<span ng-show="businessForm.city.$error.required">City is required</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Phone Number</span>
<input type="tel"
placeholder="Phone Number"
name="phoneNumber"
ng-model="signup.business.phoneNumber"
min="10"
maxlength="10"
required/>
</label>
<p style="color:red" ng-show="businessForm.phoneNumber.$dirty && businessForm.phoneNumber.$invalid">
<span ng-show="businessForm.phoneNumber.$error.required">Phone Number is required</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Type</span>
<input type="text"
placeholder="Type of Business"
name="type"
ng-model="signup.business.type"
required/>
</label>
<p style="color:red" ng-show="businessForm.type.$dirty && businessForm.type.$invalid">
<span ng-show="businessForm.type.$error.required">Business type is required</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Description</span>
<textarea maxlength="250"
placeholder="Description"
name="description"
ng-model="signup.business.description"
required></textarea>
</label>
<p style="color:red" ng-show="businessForm.description.$dirty && businessForm.description.$invalid">
<span ng-show="businessForm.description.$error.required">Description handle is required</span>
</p>
<label class="item item-input  item-floating-label">
<span class="input-label">Website</span>
<input type="url"
placeholder="Website"
name="website"
ng-model="signup.business.website"
required/>
</label>
<p style="color:red" ng-show="businessForm.website.$dirty && businessForm.website.$invalid">
<span ng-show="businessForm.website.$error.required">Website handle is required</span>
</p>
<label class="item item-input item-floating-label">
<span class="input-label">Email</span>
<input type="email"
placeholder="Email"
name="email"
ng-model="signup.business.email"
required/>
</label>
<p style="color:red" ng-show="businessForm.email.$dirty && businessForm.email.$invalid">
<span ng-show="businessForm.email.$error.required">email handle is required</span>
</p>
<!--<button class="button button-block button-assertive">-->
<!--Registration-->
<!--</button>-->
<input type="submit"
ng-disabled="businessForm.$invalid" value="Register this location" class="button button-block button-assertive">
</div>
</form>
</ion-content>
</ion-tab>
</ion-tabs>
</ion-view>